@using System.Globalization
@using RaccoonBlog.Web.Models
@model PostInput
@{
    ViewBag.Title = @Model.Title;
}
@if (ViewData.ModelState.IsValid == false)
{    
    <div class="form-error">
        @Html.ValidationSummary(true)
    </div>
}
<article id="user-input">
    <style>
        /* css for timepicker */
        .ui-timepicker-div .ui-widget-header
        {
            margin-bottom: 8px;
        }

        .ui-timepicker-div dl
        {
            text-align: left;
        }

            .ui-timepicker-div dl dt
            {
                height: 25px;
                margin-bottom: -25px;
            }

            .ui-timepicker-div dl dd
            {
                margin: 0 10px 10px 65px;
            }

        .ui-timepicker-div td
        {
            font-size: 90%;
        }

        .ui-tpicker-grid-label
        {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
        }
    </style>

    <div id="page-heading">
        <u>
            <h1>@(Model.IsNewPost() ? "Create a new post" : "Edit Post")</h1>
        </u>
    </div>
    @using (Html.BeginForm("Update", "Posts"))
    {
        <div>

            <div id="content-table-inner" class="inputform">
                <div id="id-form" style="top: 0;">


                    @*first way*@


                    @*                    @Html.EditorFor(x => x.Title)
                    @Html.TextAreaFor(x => x.Body, new { @class = "adminRichText" })
                    @Html.EditorFor(x => x.CreatedAt)
                    <b>Publish date:</b>
                    @Html.TextBoxFor(x => x.PublishAt)
                    @Html.LabelFor(model => model.PublishAt)
                    @Html.TextBox("When", Model.PublishAt.ToString("dd/MM/yyyy HH:mm", DateTimeFormatInfo.InvariantInfo))
                    @Html.ValidationMessageFor(model => model.PublishAt)
                    
                    <br />
                    (If you won't enter a date the post will be published today)
                    @Html.EditorFor(x => x.Tags)

                    @Html.EditorFor(x => x.AllowComments)
                    @Html.HiddenFor(x => x.Id)*@


                    @*Second way*@

                    <br />
                    <b id="bTitle">Title:</b>
                    <input name="Title" id="Title" size="25">
                    <br />
                    <br />
                    <b>Text Area:</b>
                    <br />
                    <textarea rows="15" cols="100" name="TextArea" id="TextArea" @*size="25"*@></textarea>
                    <br />
                    <br />
                    <b>Publish at:</b>
                    <input type="text" name="PublishAt" id="PublishAt" size="27" />
                    <br />
                    <br />
                    <b>Tags:</b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input name="Tags" id="Tags" size="25">
                    <br />
                    <br />
                    <b>Allow Comments </b>&nbsp&nbsp 
                    <input type="checkbox" name="AllowComments" id="AllowComments" size="25">
                    <br />
                    <br />



                    <div>
                        <input id="UpdateBtn" type="submit" value="Update post">
                        <img id="LoadingPic" src="@Url.Content("~/Content/css/images/ajax-loader%20(6).gif")" />
                    </div>
                </div>
            </div>

        </div>
    }
</article>
<div class="clear">
    &nbsp;
</div>

@section Script {
    <script type="text/javascript" src="@Url.Script("ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Script("ckeditor/adapters/jquery.js")"></script>
    <script type="text/javascript">



        jQuery(document).ready(function () {
            jQuery(".adminRichText").ckeditor();
            $('#LoadingPic').hide();
            $('#Title').focus();
            $("#PublishAt").datepicker();

            // AJAX
            $('#UpdateBtn').click(function () {
                var title = $('#Title').val();
                var body = $('#TextArea').val();
                var publishAt = $('#PublishAt').val();
                var tags = $('#Tags').val();
                var allowComments;
                if ($('#AllowComments').attr('checked'))
                    allowComments = 'yes';
                else allowComments = 'no';


                var sendInfo = { Title: title, Body: body, createdAt: 0, PublishAt: publishAt, Tags: tags, AllowComments: allowComments, Id: 0 };
                $.ajax({
                    url: "/admin/Posts/Update",
                    type: "POST",
                    data: sendInfo,
                    dataType: "Json",
                    beforeSend: function () { $('#LoadingPic').show(); },
                    success: function () {
                        $('#content-table-inner2').show();

                    },
                    error: function () { alert('Error'); },
                    complete: function () { $('#LoadingPic').hide(); },
                    timeout: 10000
                });


            });

            // END AJAX
        });

    </script>
}